<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

# Introduction to Pandas Library Function:

# Step-1 Import the pandas Libraries

# Step-2 Import the dataset from this:....

# Step-3 Read csv or excel File

# Step-4 Print Data from csv or excel File

# Step-5 See the First 10 Rows

# Step-6 See the Last 10 Rows

# Step-7 Data type of each columns

# Step-8 Display Summary Information

# Step-9 Access a specific column

# Step-10 Access rows by their integer location

# Step-11 Delete a specific Column

# Step-12  Create a new Column

# Step-13  Perform Condition Selection on DataFrame

# Step-14 Compute the sum of value

# Step-15 Compute the mean of value

# Step-16 Count non-null value (column)

# Step-17 Find Minimun or Maximum values